@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Your Font';
    src: url('./images/font/static/KumbhSans-Bold.ttf');
    font-weight: 700;
    font-style: normal;
  }  
  @font-face {
    font-family: 'Your Font';
    src: url('./images/font/static/KumbhSans-Regular.ttf');
    font-weight: 400;
    font-style: normal;
  }
@layer {
    html{
      @apply text-black bg-white font-kumbh min-h-screen
    }
    #root{
      @apply min-w-[100%] min-h-screen bg-white relative
    }
}